# Silence installd denials for media_userdir_file cleanup.
# AOSP vold.te neverallow blocks 'allow' rules for write/remove_name
# on media_userdir_file, so we use dontaudit to suppress log noise.
dontaudit installd media_userdir_file:dir { write remove_name rmdir };
dontaudit installd media_userdir_file:file { unlink getattr };
 